body{
    margin: 0%;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: pink;

}

.main{
    text-align: center;
    height: 100vh;
    color: white;
    text-shadow: 0 0 3px black;
}
.main-card{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#personal-photo{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

#date,#age{
    background-color:rgb(241, 164, 177);
    padding: 10px 20px;
    border-radius: 5px;
}
#age{
margin-bottom: 10px;
margin-top: 10px;
margin: 15px 0px 10px 0px;
}
#date{
    margin: 0px;
}
.gift-section{
margin:50px 0px 20px 0px;
}
.gift-title{
    margin-bottom: 20px;
}
.gift-hint{
    margin-top: 0px;
}
.gift-img{
    margin: 0px auto;
    width: 400px;
    height: 400px;
    border: 6px solid black;
    border-radius: 10px;
    background-image: url("../images/giftCover.jpg");
    background-size: cover;
    
}
#cheers{
    height: 200px;
    background-size: cover;
}
#happy:hover{
    background-image: url("./images/happy2.webp");
}
#hot:hover{
    background-image: url("./images/hot.webp");
}
#genius:hover{
    background-image: url("./images/genius.webp");
}
#badass:hover{
    background-image: url("./images/badass.webp");
}
#cheers:hover{
    background-image: url("./images/cheers.webp");

}
